<div class="single single-product postid-690 woocommerce woocommerce-page wide mountainware-hoodie">
  <div id="wrapper" class="container">
    <div class="wrap contentclass" role="document">
      <div id="content" class="container">
        <div class="row">
          <div class="main col-md-12" role="main">
            <!--espacio para el nav-->
            <div class="product_header clearfix">
              <div class="cat_back_btn headerfont">
                <i class="icon-arrow-left"></i>
              </div>
            </div>
            <div id="product-690" class="post-690 product type-product status-publish has-post-thumbnail product_cat-apparel product_cat-hoodie product_tag-brand product_tag-clothing product_tag-t-shirts pa_sizes-large pa_sizes-medium pa_sizes-small pa_sizes-x-large pa_sizes-x-small shipping-taxable purchasable product-type-variable product-cat-apparel product-cat-hoodie product-tag-brand product-tag-clothing product-tag-t-shirts instock">
              <!--parte fija del evento-->
              <div class="row">
                <div class="col-md-5 product-img-case">
                  <div class="images kad-light-gallery">
                    <div ng-show="event.picture" class="product_image">
                      <img width="300" height="400" ng-src="{{event.picture}}" class="attachment-shop_single wp-post-image" title="hoodie_mountainware_02"></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 product-summary-case">
                  <div class="summary entry-summary">
                    <h1 itemprop="name" class="product_title entry-title">{{event.title}}</h1>
                    <div class="row">
                      <div class="col-md-7">
                        <div itemprop="description">
                          <p>{{event.short_description}} </p>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="product_image">
                          <img width="100" height="100" ng-src="{{event.owner.avatar}}" class="attachment-shop_single wp-post-image" title="logo"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--tabs-->
              <div id="tab" class="woocommerce-tabs wc-tabs-wrapper" tabs-jquery>
                <ul class="tabs wc-tabs">
                  <li class="description_tab"> <a href="#detalle">Detalles</a></li>
                  <li class="additional_information_tab"> <a href="#contribuir">Contribuir</a></li>
                  <li class="reviews_tab"> <a href="#voluntarios">Voluntarios</a></li>
                </ul>
                <div class="panel entry-content wc-tab" id="detalle">
                  <h2>Detalles</h2>
                  <!--fecha-->
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class='col-sm-4'>
                          <p><strong>Fecha Límite:</strong> {{event.finish_date | date : 'dd/MM/yyyy'}} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--descripcion larga y mapa-->
                  <div class="row">
                    <div class="col-md-6">
                      <p>{{event.short_description}}</p>
                    </div>
                    <div class="col-md-6">
                      <iframe src="https://www.google.com/maps/d/embed?mid=zjGwcZ4bjlpk.k6QPvGL6d03I" width="540" height="380"></iframe>
                    </div>
                  </div>
                </div>
                <!--Contribuir-->
                <div class="panel entry-content wc-tab" id="contribuir">
                  <div class="col-md-6">
                    <h2>Elementos</h2>
                    <table class="table shop_attributes">
                        <thead>
                          <th>Nombre</th>
                          <th>Cantidad</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="back in eventBacks.back_element">
                            <td>{{ back.name }}</td>
                            <td>{{ back.quantity }}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <h2>Skills</h2>
                    <table class="table shop_attributes">
                        <thead>
                          <th>Nombre</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="back in eventBacks.back_action">
                            <td>{{ back.name }}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
                <!--Voluntarios-->
                <div class="panel entry-content wc-tab" id="voluntarios">
                  <div class="col-md-8">
                    <h2>Voluntarios</h2>
                    <table class="table shop_attributes">
                        <thead>
                          <th>Foto</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="voluntaryEvent in eventVoluntary">
                            <td><img width="20" height="20" ng-src="{{voluntaryEvent.voluntary.avatar}}" class="attachment-shop_single wp-post-image" title="avatar"></td>
                            <td>{{ voluntaryEvent.voluntary.user.first_name }}</td>
                            <td>{{ voluntaryEvent.voluntary.user.last_name }}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <meta itemprop="url" content="http://themes.kadencethemes.com/virtue/product/mountainware-hoodie/" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
